* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
   background-color: #d9dcd6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.header{
padding:20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:#3e484d;
  color:beige;
}
.header h1{
    display:inline-block;
    font-size: 30px;
    color:cadetblue;
    background-color:paleturquoise;
}
.header nav{
    padding-top:15px;
    margin-right: 20px;
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header nav ul li{
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}
a{
    color:#ffffff;
    text-decoration: none;
}
header div{
    text-align:right;
    color:navy;
    background-color: aquamarine;
    padding:40px;
    margin-top: 20px;
    margin-right:auto;
    margin-left:auto;

}
#banner{
 
    height:200px;
    background-image: url("../img/pic.jpg");
    background-size: cover;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}
#bannertext{
    padding:66px;
    background-image:url("../img/flower.jpg");
    background-size: cover;
    
}

body{
  
    background-image: url("../img/images.jpg");
   background-repeat: no-repeat;
}
.sections{
    display:flex;
    flex-wrap:wrap;
    align-items: stretch;
    justify-content: space-between;

}
 .sections > h2{ 
    flex:0 0 20%;
    color:navy;
    font-size:24px;
    text-align: right;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
   
  
 }
 .sections > div{
     flex:0 0 77%;
     color:navy;
     font-size:large;
     padding:20px;
     border-left:solid navy;
   
     margin-top:20px;
     margin-bottom:20px;
 }
 .sections1{
    display:flex;
    flex-wrap:wrap;
    align-items: stretch;
    justify-content: space-between;

}
 .sections1 > h4{ 
     flex:0 0 20%;
     color:navy;
     font-size:24px;
     text-align: right;
     padding:20px;
     margin-top:20px;
     margin-bottom:20px;
    
 }
 .sections1 > div{
    flex:0 0 77%;
    color:navy;
    font-size:x-large;
    padding:100px;
    margin-top:20px;
    margin-bottom:20px;
    border:lightblue;
    border-left:solid navy;
 }

.flex-container{
    flex:0 0 77%;
     color:navy;
     padding:20px;
     margin-left:340px;
     border-left:solid navy;
     margin-top:20px;
     margin-bottom:20px;

}

  .flex-container > div {
    background-color:powderblue;
    background-position: center;
    display:inline-block;
    border:solid purple;
    width: 40%;
    height:200px;
    margin: 20px ;
    margin-top:20px;
    text-align:left;
    line-height:  auto;
    font-size: 30px;
    animation-name: example;
    animation-duration: 4s;
 }
 
@keyframes example{
    from{ background-color:powderblue;}
    to {background-color:slateblue;}
   
  }
  .contact{
    display:flex;
    flex-wrap:wrap;
    align-items: stretch;
    justify-content: space-between;

}
  .contact > h6{
    flex:0 0 20%;
    color:navy;
    padding:20px;
    font-size:24px;
    text-align: right;
    margin-top:20px;
    
  }
.contact> div{
    flex:0 0 77%;
    color:navy;
    padding:20px;
    border-left:solid navy;
    margin-top:20px;
    margin-bottom:20px;


}


    .contact>div >ul li{
    flex:0 0 77%;
    color:navy;
    font-size:large;
    padding:40px;
    border:solid purple;
    margin-top:20px;
    margin-bottom:20px;
    text-decoration:underline;
    display:inline-block;
    background-color:paleturquoise;
    text-align:right;
    animation-name: example;
    animation-duration: 4s;
 }
 
@keyframes example{
    from{ background-color:purple;}
    to {background-color:slateblue;}
   
  }

    
     
  



  